@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~@mdxeditor/editor/style.css";

.markdown-section h1 {
  font-size: 2rem;
}

.markdown-section h2 {
  font-size: 1.5rem;
}

.markdown-section h3 {
  font-size: 1.17rem;
}

.markdown-section h4 {
  font-size: 1rem;
}

.markdown-section h5 {
  font-size: 0.83rem;
}

.markdown-section h6 {
  font-size: 0.67rem;
}

html,
body,
:root {
  height: 100%;
}

::-webkit-scrollbar {
  width: 7px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #6b7280;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9aa0ba84;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d3dcffc1;
}
