@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

::-webkit-scrollbar {
  width: 7px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #6b7280;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9aa0ba84;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d3dcffc1;
}
